 
<template name="signInModal">
	
 <div id="loginModal" class="modal">
    <div class="modal-content modal-bg">

	 <div class="center-align">
	 	
	      <div class="row">
	      	<a class="waves-effect waves-light btn loginButton blue darken-3 loginFacebook">facebook login <i class="fa fa-facebook-official"></i></a>
	      </div>

	      <div class="row">
	      	<a class="waves-effect waves-light btn loginButton twitter-blue loginTwitter">twitter login <i class="fa fa-twitter-official"></i></a>
	      </div>

	      <div class="row">
	      	<a class="waves-effect waves-light btn loginButton google-plus-red loginGoogle">google login <i class="fa fa-google"></i></a>
	      </div>      

	 </div>
      <br>

    </div>
   
 </div>

 <style>

 	.loginButton{
 		width: 200px;
 	}
	.google-plus-red{
		background-color: #dd4b38;
	}
	
	 .twitter-blue{
	 	background-color: #00aced;
	 }

	.modal-bg{
		background-color: #2c3e50;
	}
 </style>
	
</template>