<template name="signUpModal">
	
	 <div id="registerModal" class="modal">
	    <div class="modal-content">
	

		<h6 class="center-align">use your existing account</h6>
		<div class="center-align">		
		  
		  <div class="row">
		  	<a class="waves-effect waves-light btn blue darken-3 loginFacebook">facebook login <i class="fa fa-facebook-official"></i></a>
		  </div>	  
		  <div class="row">
		  	<a class="waves-effect waves-light btn twitter-blue loginTwitter">twitter login <i class="fa fa-twitter-official"></i></a>
		  </div>

		  <div class="row">
		  	<a class="waves-effect waves-light btn light-blue darken-1 loginGoogle">google login <i class="fa fa-google"></i></a>
		  </div>    

		</div>

	    <br>
	
    </div>
	   
	 </div>

	 <style>
		
		.twitter-blue{
			background-color: #00aced;
		}
	 </style>
	
</template>