<template name="landing">
	<div class="container-fluid wrapper-ab">
		<div class="header">

		<div style="color:#FFB500; text-align: center;" >
			<p class="light" style="font-size:90px;" >BiDDU</p>
			<p style="font-size:20px"><b>Bringing back the excitement of auctions!</b><br>
			With IBM Watson and Bluemix!</p>
			<a href="/auctions"><button type="button" class="btn btn-default btn-ab animated fadeInUp">BID!</button></a>
		</div>		

		

		<div class="row landing-text">
			<div class="col m4 size-content-header">
				<h2>
					Auction anything! 
				</h2>
				<div class="description light">
					Auction just about anything and connect to people from
					different social networks!
				</div>
			</div>
			<div class="col m4 size-content-header">
				<h2>
					Your personal assistant Watson!
				</h2>
				<div class="description light">

					IBM Watson watching over you, with analytics and updates.
					Bid smart and fast!
					
				</div>
			</div>
			<div class="col m4 size-content-header">
				<h2>
					Better UX and Instant Updates.
				</h2>
				<div class="description light">
					Beautiful UI from us. Less navigation, more discovery.
					No more page reloads. Lightning fast bidding thanks to IBM bluemix stack !						
				</div>
			</div>
		</div>
		</div>
	</div>	

<style>
	
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

	
	.wrapper-ab{
		background: url('/images/bg.jpg') no-repeat   center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position:absolute;
		top:0;
		width:100%;
		color:#fff !important;
		min-height: 100vh;
	}

	.header{
		font-family: 'Open Sans Condensed', sans-serif;
		margin-top:100px;
		font-size: 70px;
	}

	.btn-ab{
		margin-top: 20px;
		border-radius: 0;
		background:#FFB500 !important;
		color:#fff;
		width:200px;
		height:50px;
		/*color:#3C3C3C;*/
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 40px;
		font-size: 21px;
		background: transparent;
	}

	.header .small{
		font-size:13px;
	}

	.landing-text{
		font-size:14px;
	}
	h3{
		font-size:20px;
	}

	.description {
		font-size: 16px;
	}

	.size-content-header>h2{
		font-size: 30px;
		text-align: center;
		
	}
	.landing-text{
		margin-bottom: 100px;
	}

	.size-content-header>.description{
		margin: 5px auto;
		text-align: center;
	}

	</style>

</template>