<template name="auctions">
	
	<div class="row" style="margin-top:20px;">
		<div class="col s9">
			<h5 class="grey-text text-darken-1">Ongoing Auctions</h5>
		</div>
		<div class="col s3">
			<h6 class="grey-text right">add your own 
			<a class="btn-floating right btn waves-effect waves-light blue" href="#" id="addAuctionButton"><i class="mdi-content-add"></i></a></h6>
		</div>
	</div>
	<hr>
	
	<div class="row">
		<div class="masonry-grid">
			{{#each auctionItem}}
				{{> item}}
			{{/each}}
		</div>
	</div>
</template>

<template name="item">
	<div class="col s12 m5 l4 animated fadeIn masonry-item" style="padding: 5px !important">
		
		<div class="card">
		       <div class="card-image waves-effect waves-block waves-light">
		         <img class="activator" src="{{picture}}">
		       </div>
		       <div class="card-content">
		         <span class="card-title activator grey-text text-darken-4">{{auctionName}} <i class="mdi-navigation-more-vert right"></i></span>
		         <p><a href="/auctionPage/{{_id}}">view <i class="fa fa-external-link"></i></a>
		         <span class="right mdi-hardware-keyboard-arrow-up light-green-text">{{score}}</span>
		         </p>

		       </div>
		       <div class="card-reveal">
		         <span class="card-title grey-text text-darken-4">Description<i class="mdi-navigation-close right"></i></span>
		         <p>{{items}}</p>
		         <p>{{description}}</p>
		         <br><br>
		         <p><a href="/auctionPage/{{_id}}">view <i class="fa fa-external-link"></i> </a></p>
		       </div>
		</div>
	</div>
</template>